<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <h1> Employee Registration Page </h1>
</head>
<body>
<form action="{{url_for('addrec') }}" method="POST">
    <h3> Employee Information</h3>
    Name<br>
    <input type="text" name="fname"/></br>

    Address<br>
    <textarea name="add"></textarea><br>

    City<br>
    <input type="text" name="city"/><br>

    PinCode<br>
    <input type="text" name="pin"/><br>
    <input type="submit" value="Submit"/><br>
</form>

</body>
</html>