<!DOCTYPE html>
<html lang="en">
<head>

    <title>Employee Information System</title>
</head>
<body>
<form action="http://127.0.0.1:5000/result" method="POST">
    <h1>Employee Information System </h1>

    <P>Employee Name :<input type="text" name="fname"/></P>
    <P>Employee Post :<input type="text" name="post"/></P>
    <P>Employee ID :<input type="text" name="eid"/></P>
    <P>Email :<input type="text" name="email"/></P>
    <P>Contact No :<input type="text" name="mobile"/></P>
    <p><input type="submit" value="Submit"></p>
</form>
</body>
</html>